.header {
    background: #000;
}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
}

.header__logo {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}

.thanks__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.thanks__heading {
    margin-bottom: 40px;
    text-align: center;
}

.home-button button {
    text-align: center;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.home-button button:hover {
    background-color: #45a049;
}